<table class="ui celled table">
  <thead>
    <tr>
      <th> Date </th>
      <th> Weight </th>
      <th> Chest </th>
      <th> Thigh </th>
      <th> Upper Arm </th>
      <th> Waist </th>
      <th> Hips </th>
      <th> Trend </th>
      <th> Comment </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each member.assessments}}
    <tr>
      <td>
      {{date}}
      </td>
      <td>
        {{weight}}
      </td>
      <td>
        {{chest}}
      </td>
      <td>
        {{thigh}}
      </td>
      <td>
        {{upperArm}}
      </td>
      <td>
        {{waist}}
      </td>
      <td>
        {{hips}}
      </td>
      <td>
        <a class="ui {{trend}} tag label"></a>
      </td>
      <td>
        {{comment}}
      </td>
      <td>
        <a href="/memberdashboard/{{../member.id}}/deleteassessment/{{id}}"  class="ui icon button"> <i class="icon trash"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
